.price {
  margin: 150px 100px;
  font-family: "Caveat Brush", cursive;
  font-family: "Noto Sans", sans-serif;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  position: relative;
  .circle1 {
    position: absolute;
    top: -10%;
    left: 10%;
  }
  .circle2 {
    position: absolute;
    top: -5%;
    right: 10%;
  }
  .circle3 {
    position: absolute;
    top: 15%;
    right: 5%;
  }
  .circle4 {
    position: absolute;
    bottom: -5%;
    left: 8%;
  }
  .semiCirclerContainer {
    position: absolute;
    bottom: -33%;
    right: 0%;
    width: 195px;
    overflow: hidden;
    z-index: -5;
  }
  .priceHeading {
    min-width: 570px;
    width: 44%;
    font-size: 30px;
    font-weight: 700;
    text-align: center;
    line-height: 1.5;
    span {
      position: relative;
      &::after {
        content: "";
        background-color: var(--secondary-color);
        width: 100%;
        height: 10px;
        position: absolute;
        right: 0%;
        bottom: -10px;
      }
    }
  }
  .priceContainer {
    margin-top: 80px;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    .priceSubContainer {
      width: 100%;
      padding: 20px 30px;
      color: var(--primary-color);
      border-radius: 10px;
      h3 {
        font-size: 21px;
        font-weight: 700;
      }
      .priceText {
        margin: 20px 0px;
        .amount {
          font-size: 32px;
          font-weight: 900;
        }
        .oneTimeTxt {
          font-size: 20px;
          color: rgba(128, 128, 128, 0.7);
        }
      }
      p {
        font-size: 20px;
        font-weight: 600;
        margin-bottom: 20px;
      }
      div {
        ul {
          li {
            font-size: 19px;
            margin-bottom: 20px;
            display: flex;
            align-items: center;
            justify-content: flex-start;
            i {
              margin-right: 6px;
            }
          }
        }
      }
      button {
        width: 100%;
        outline: none;
        border: 2px solid var(--primary-color);
        border-radius: 5px;
        padding: 20px 30px;
        font-size: 25px;
        font-weight: 600;
        color: var(--primary-color);
        background-color: transparent;
        margin-top: 25px;
      }
      &:hover {
        background-color: var(--primary-color);
        color: var(--white);
        cursor: pointer;
        .priceText {
            .oneTimeTxt {
                color: white;
            }
        }
        button {
            background-color: var(--white);
            cursor: pointer;
        }
      }
    }
  }
}

@media screen and (max-width: 768px) {
  .price {
    margin: 0px 20px;
    .priceHeading {
      display: none;
    }
  }
}

@media screen and (max-width: 1024px) {
  .price {
    .circle1,
    .circle2,
    .circle3,
    .circle4,
    .semiCirclerContainer {
      display: none;
    }
    .priceContainer {
      overflow: hidden;
      margin-top: 0px;
      display: flex;
      justify-content: center;
      align-items: flex-start;
      .priceSubContainer {
        border: 2px solid rgba(128, 128, 128, 0.5);
        width: 300px;
        margin: 20px;
        border-radius: 10px;
        .priceText {
          .oneTimeTxt {
            display: none;
          }
        }
      }
    }
  }
}
